
<header class="sp-header">
    <!-- Top Bar -->
    <div class="sp-top-bar">
      <div class="sp-container">
        <div class="sp-top-content">
          <div class="sp-top-left">
            <div class="sp-logo-icon">
              <img src="/path-to-icon.png" alt="Speakly Icon">
            </div>
            <span>Speakly Connect</span>
          </div>
          
          <div class="sp-top-center">
            <div class="sp-search-container">
              <i class="fas fa-search sp-search-icon"></i>
              <input type="text" placeholder="Search for people or buzzs..." class="sp-search-input">
            </div>
          </div>
          
          <div class="sp-top-right">
            <div class="sp-icon-buttons">
              <a href="#" class="sp-icon-button">
                <i class="fas fa-chart-line"></i>
              </a>
              <a href="#" class="sp-icon-button">
                <i class="fas fa-bookmark"></i>
              </a>
              <a href="#" class="sp-icon-button">
                <i class="fas fa-bell"></i>
              </a>
            </div>
            
           
          </div>
        </div>
      </div>
    </div>
    
    <!-- Main Header -->
    <div class="sp-main-header">
      <div class="sp-container">
        <div class="sp-header-content">
          <div class="sp-logo">
            <a href="#">Speakly</a>
          </div>
          
          <nav class="sp-main-nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Activities</a></li>
              <li><a href="#">Complaint</a></li>
              <li><a href="#">Programs</a></li>
              <li><a href="#">Appointment</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          
          <div class="sp-header-right">
            <div class="sp-contact-info">
              <p>Have any questions?</p>
              <p>Free: +216 58.809.105</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>















<div class="header-wrapper">
    <mat-toolbar color="primary" class="header">
      <div class="container">
        <div class="header-left">
          <a routerLink="/" class="logo">
            <div class="logo-icon">
              <mat-icon>whatshot</mat-icon>
            </div>
            <span class="logo-text">Speekly<span class="logo-accent">Connect</span></span>
          </a>
        </div>
  
        <div class="header-center" *ngIf="isAuthenticated$ | async">
          <div class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input 
              type="text" 
              class="search-input" 
              placeholder="Search for people or buzzs..." 
              [formControl]="searchControl"
              (keyup.enter)="submitSearch()"
            >
    
          </div>
        </div>
  
        <div class="header-right">
          <ng-container *ngIf="isAuthenticated$ | async; else unauthenticated">
            <div class="nav-buttons">
              <button mat-icon-button routerLink="/trending" matTooltip="Trending" class="nav-button">
                <mat-icon>trending_up</mat-icon>
              </button>
              <button mat-icon-button routerLink="/bookmarks" matTooltip="Bookmarks" class="nav-button">
                <mat-icon>bookmark</mat-icon>
              </button>
              <button mat-icon-button routerLink="/create" matTooltip="Create Buzz" class="nav-button create-button">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
            
            <button 
              mat-button 
              [matMenuTriggerFor]="userMenu" 
              class="user-menu-button"
              *ngIf="user$ | async as user">
              <div class="avatar" *ngIf="user.avatarUrl; else userInitial">
                <img [src]="user.avatarUrl" alt="{{ user.username }}">
              </div>
              <ng-template #userInitial>
                <div class="avatar-initial">
                  {{ user.fullName?.charAt(0) || user.username.charAt(0) || '' }}
                </div>
              </ng-template>
              <span class="user-name">{{ user.fullName || user.username }}</span>
              <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
            </button>
            
            <mat-menu #userMenu="matMenu" class="user-profile-menu">
              <ng-container *ngIf="user$ | async as user">
                <div class="menu-header">
                  <div class="menu-user-info">
                    <div class="avatar-large" *ngIf="user.avatarUrl; else userInitialLarge">
                      <img [src]="user.avatarUrl" alt="{{ user.username }}">
                    </div>
                    <ng-template #userInitialLarge>
                      <div class="avatar-initial-large">
                        {{ user.fullName?.charAt(0) || user.username.charAt(0) || '' }}
                      </div>
                    </ng-template>
                    <div class="menu-user-name">
                      <div class="full-name">{{ user.fullName || user.username }}</div>
                      <div class="username">{{'@' + user.username}}</div>
                    </div>
                  </div>
                </div>
                <div class="menu-actions">
                  <button mat-menu-item (click)="navigateToProfile(user.username)">
                    <mat-icon>person</mat-icon>
                    <span>Profile</span>
                  </button>
                  <button mat-menu-item routerLink="/profile/edit">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Profile</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                  </button>
                </div>
              </ng-container>
            </mat-menu>
          </ng-container>
  
          <ng-template #unauthenticated>
            <a mat-flat-button class="login-button" href="http://192.168.0.33:4200">
              <span>Speekly</span> <span class="login-separator"></span> 
            </a>
          </ng-template>
          
        </div>
      </div>
    </mat-toolbar>
    <div class="header-shadow"></div>
  </div>
  