<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="container-scroller">
  <app-header-back></app-header-back> 
    <app-navbar-back></app-navbar-back>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar-back></app-sidebar-back>
      <div class="main-panel">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
        <app-footer-back></app-footer-back>
      </div>
    </div>
  </div>
  