
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/BackOffice/guruable2-01.0/assets/css/style.css">

<link rel="icon" href="/assets/BackOffice/guruable2-01.0/assets/images/favicon.ico" type="image/x-icon">
<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="/assets/BackOffice/guruable2-01.0/assets/css/bootstrap/css/bootstrap.min.css">
<!-- themify-icons line icon -->
<link rel="stylesheet" type="text/css" href="/assets/BackOffice/guruable2-01.0/assets/icon/themify-icons/themify-icons.css">
<!-- ico font -->
<link rel="stylesheet" type="text/css" href="/assets/BackOffice/guruable2-01.0/assets/icon/icofont/css/icofont.css">
<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="/assets/BackOffice/guruable2-01.0/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/BackOffice/guruable2-01.0/assets/css/jquery.mCustomScrollbar.css">
<!-- Bootstrap 4 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<app-sidebar-back></app-sidebar-back>
<!-- Required Jquery -->
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="/assets/BackOffice/guruable2-01.0/assets/pages/widget/amchart/amcharts.min.js"></script>
<script src="/assets/BackOffice/guruable2-01.0/assets/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/assets/BackOffice/guruable2-01.0/assets/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/assets/BackOffice/guruable2-01.0/assets/js/script.js"></script>
<script type="text/javascript " src="/assets/BackOffice/guruable2-01.0/assets/js/SmoothScroll.js"></script>
<script src="/assets/BackOffice/guruable2-01.0/assets/js/pcoded.min.js"></script>
<script src="/assets/BackOffice/guruable2-01.0/assets/js/demo-12.js"></script>
<script src="/assets/BackOffice/guruable2-01.0/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>